:root {
	--bg-color: #ffffff;
	--bg-color-secondary: #fafafa;
	--bg-color-accent: #e7e7e7;
	--bg-color-hover: #cecccc;
	--bg-color-active: #b6b6b6;
	--text-color: #000000;
	--primary-color: #007bff;
	--font: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana;
}

.dark-theme {
	--bg-color: #1e1d1f;
	--bg-color-secondary: #292929;
	--bg-color-accent: #383838;
	--bg-color-hover: #444444;
	--bg-color-active: #555555;
	--text-color: #ffffff;
	--primary-color: #8903ff;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--text-color);
	font-size: 1rem;
	font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular',
		'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 2rem;
}

button {
	cursor: pointer;
	padding: 5px;
	color: #fff;
	font-family: var(--font);
	border: 1px solid var(--text-color);
	border-radius: 5px;
	transition: background-color 100ms ease-in-out;
}

.breaker {
	background-color: var(--text-color);
	opacity: 30%;
	width: auto;
	height: 2px;
	margin: 10px 0;
}

.seperator {
	border: 1px solid black;
	width: 5px;
	margin: 0 10px;
}

.container {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-areas:
		'sidebar content'
		'sidebar content';
	grid-template-columns: 1fr 4fr;
	background-color: var(--bg-color);
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: sidebar;
	height: auto;
	max-width: auto;
	padding: 10px;
	margin: 5px;
	border: none;
	border-radius: 10px;
	background-color: var(--bg-color-secondary);
	overflow: hidden;
}

.sidebar .top {
	padding: 10px;
	overflow: hidden;
}

.sidebar .top .projects {
	overflow-y: scroll;
	overflow-x: hidden;
	overflow: auto;
	scrollbar-width: 5px;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: auto;
	flex: 1;
}

.sidebar .top .projects .project-container {
	max-width: auto;
	padding: 15px 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--bg-color-accent);
	border-radius: 10px;
	cursor: pointer;
}

.sidebar .top .projects .project-container:hover {
	background-color: var(--bg-color-hover);
}

.sidebar .top .projects .project-container:has(button:hover) {
	background-color: var(--bg-color-accent);
}

.sidebar .top .projects .project-container.active {
	font-weight: bold;
	background-color: var(--bg-color-active);
}

.sidebar .top .projects .project-container .left p {
	max-width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sidebar .top .projects .project-container .right {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.sidebar .top .projects .project-container .right #edit-project {
	background-color: green;
	transition: all 100ms ease-in-out;
}

.sidebar .top .projects .project-container .right #edit-project:hover {
	background-color: lightgreen;
}

.sidebar .top .projects .project-container .right #delete-project {
	background-color: red;
	transition: all 100ms ease-in-out;
}

.sidebar .top .projects .project-container .right #delete-project:hover {
	background-color: lightcoral;
}

.sidebar .bottom {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.sidebar .bottom button {
	background-color: var(--primary-color);
	padding: 10px 20px;
	transition: all 100ms ease-in-out;
	margin-top: 20px;
}

.sidebar .bottom button:hover {
	background-color: lightblue;
	color: var(--text-color);
	scale: 1.1;
}

.modal-container {
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity 0.3s ease;
}

.modal-container.active {
	opacity: 100%;
	pointer-events: all;
}

/* Create project modal */

.modal-container .create-project-modal {
	display: none;
	background-color: var(--bg-color);
	padding: 10px;
	z-index: 10;
	border: none;
	border-radius: 10px;
	pointer-events: none;
}

.modal-container .create-project-modal.active {
	display: flex;
	flex-direction: column;
	opacity: 100%;
	pointer-events: all;
}

.modal-container .create-project-modal .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10rem;
}

.modal-container .create-project-modal .top button {
	border: none;
	text-align: center;
	color: var(--text-color);
	font-weight: bold;
	background-color: transparent;
	font-size: 100%;
}

.modal-container .create-project-modal .bottom .project-details {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.modal-container .create-project-modal .bottom .project-details label {
	margin-bottom: 5px;
	font-weight: bold;
}

.modal-container .create-project-modal .bottom .project-details input {
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.modal-container .create-project-modal .bottom .project-details button {
	padding: 10px;
	font-weight: bold;
	color: var(--text-color);
	background-color: green;
	transition: color 0.3s ease-in-out;
}

/* Create task modal */

.modal-container .create-task-modal {
	display: none;
	background-color: var(--bg-color);
	padding: 10px;
	z-index: 10;
	border: none;
	border-radius: 10px;
	pointer-events: none;
}

.modal-container .create-task-modal.active {
	display: flex;
	flex-direction: column;
	opacity: 100%;
	pointer-events: all;
}

.modal-container .create-task-modal .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10rem;
}

.modal-container .create-task-modal .top button {
	border: none;
	text-align: center;
	color: var(--text-color);
	font-weight: bold;
	background-color: transparent;
	font-size: 100%;
}

.modal-container .create-task-modal .bottom .task-details {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.modal-container .create-task-modal .bottom .task-details label {
	margin-bottom: 5px;
	font-weight: bold;
}

.modal-container .create-task-modal .bottom .task-details input,
.modal-container .create-task-modal .bottom .task-details select {
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.modal-container .create-task-modal .bottom .task-details button {
	padding: 10px;
	font-weight: bold;
	color: var(--text-color);
	background-color: green;
	transition: color 0.3s ease-in-out;
}

/* Edit project modal */

.modal-container .edit-project-modal {
	display: none;
	background-color: var(--bg-color);
	padding: 10px;
	z-index: 10;
	border: none;
	border-radius: 10px;
	pointer-events: none;
}

.modal-container .edit-project-modal.active {
	display: flex;
	flex-direction: column;
	opacity: 100%;
	pointer-events: all;
}

.modal-container .edit-project-modal .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10rem;
}

.modal-container .edit-project-modal .top button {
	border: none;
	text-align: center;
	color: var(--text-color);
	font-weight: bold;
	background-color: transparent;
	font-size: 100%;
}

.modal-container .edit-project-modal .bottom .edit-project-details {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.modal-container .edit-project-modal .bottom .edit-project-details label {
	margin-bottom: 5px;
	font-weight: bold;
}

.modal-container .edit-project-modal .bottom .edit-project-details input {
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.modal-container .edit-project-modal .bottom .edit-project-details button {
	padding: 10px;
	font-weight: bold;
	color: var(--text-color);
	background-color: green;
	transition: color 0.3s ease-in-out;
}

/* Edit task modal */

.modal-container .edit-task-modal {
	display: none;
	background-color: var(--bg-color);
	padding: 10px;
	z-index: 10;
	border: none;
	border-radius: 10px;
	pointer-events: none;
}

.modal-container .edit-task-modal.active {
	display: flex;
	flex-direction: column;
	opacity: 100%;
	pointer-events: all;
}

.modal-container .edit-task-modal .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10rem;
}

.modal-container .edit-task-modal .top button {
	border: none;
	text-align: center;
	color: var(--text-color);
	font-weight: bold;
	background-color: transparent;
	font-size: 100%;
}

.modal-container .edit-task-modal .bottom .edit-task-details {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.modal-container .edit-task-modal .bottom .edit-task-details label {
	margin-bottom: 5px;
	font-weight: bold;
}

.modal-container .edit-task-modal .bottom .edit-task-details input,
.modal-container .edit-task-modal .bottom .edit-task-details select {
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

.modal-container .edit-task-modal .bottom .edit-task-details button {
	padding: 10px;
	font-weight: bold;
	color: var(--text-color);
	background-color: green;
	transition: color 0.3s ease-in-out;
}

.content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow-x: hidden;
}

.task-view {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100%;
	padding: 10px;
	overflow: hidden;
}

.task-view > .top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 10px;
}

.task-view > .top .left {
	width: 80%;
}

.task-view > .top .left h1 {
	font-weight: normal;
}

.task-view > .top .left p {
	opacity: 70%;
}

.task-view > .top .right button {
	background-color: var(--primary-color);
}

.task-view .tasks {
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: 5px;
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	width: 100%;
}

.task-view .tasks .task-container {
	max-width: auto;
	max-height: auto;
	padding: 15px 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-color-accent);
	border-radius: 10px;
	cursor: pointer;
	pointer-events: all;
}

.task-view .tasks .task-container .seperator {
	margin: 0 3rem;
}

.task-view .tasks .task-container:hover {
	background-color: var(--bg-color-hover);
}

.task-view .tasks .task-container:has(input:hover),
.task-view .tasks .task-container:has(select:hover),
.task-view .tasks .task-container:has(button:hover) {
	background-color: var(--bg-color-accent);
}

.task-view .tasks .task-container .left {
	width: 100%;
}

.task-view .tasks .task-container .left .top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.task-view .tasks .task-container .left .top .left h3 {
	font-weight: normal;
}

.task-view .tasks .task-container.active {
	background-color: var(--bg-color-active);
}

.task-view .tasks .task-container.active .left .top .left h3 {
	font-weight: bold;
}

.task-view .tasks .task-container .left .bottom p {
	opacity: 70%;
	max-width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.task-view .tasks .task-container.active .left .bottom p {
	opacity: 100%;
	-webkit-line-clamp: unset;
	overflow: unset;
}

.task-view .tasks .task-container .left .top .right input[type='checkbox'] {
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.task-view .tasks .task-container > .right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	text-align: center;
	width: 100%;
}

.task-view .tasks .task-container > .right .wrapper {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.task-view .tasks .task-container > .right .wrapper label {
	font-weight: bold;
}

.task-view .tasks .task-container > .right .action-buttons {
	display: flex;
	gap: 1rem;
}

.task-view .tasks .task-container > .right .action-buttons #delete-task {
	background-color: tomato;
}

.task-view .tasks .task-container > .right .action-buttons #edit-task {
	background-color: greenyellow;
}

.footer {
	height: auto;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color-secondary);
}

.footer img {
	margin: 0 10px;
}
